@import 'variables';
@import 'mixins';

html, body {
  @include flexCenter(center, column);
  width: 100%;
  height: 100dvh;
  background: url('../imgs/dogoculosamarelo.png') no-repeat center/cover;
}

.form_cd {
    @include flexCenter(auto, auto);
    width: 100%;
    margin-top: $form-padding + 345px;
    margin-bottom: $form-padding + 25px;
}

form {
  padding: $form-padding;
  border-radius: 15px;
  background: $cor-fundo-form;
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
  box-shadow: $sombra-form;
  text-align: center;
  min-height: fit-content;

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: $cor-branco;
    outline: none;

    &::placeholder {
      color: $cor-placeholder;
      font-weight: bolder;
      font-size: larger;
    }

    &[type="submit"] {
      background: $cor-submit-bg;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: $cor-submit-hover;
      }
    }
  }

  p {
    margin-bottom: 20px;
    color: $cor-branco;
    font-size: 1.2rem;
  }

  a {
    color: $cor-branco;
    text-decoration: none;
    font-size: 1.2rem;
    background: $cor-link-bg;
    padding: 8px 15px;
    border-radius: 5px;
  }
   &:hover {
      text-decoration: none;
    }
  }

.whiteline {
  width: 100%;
  height: 1px;
  background-color: $cor-branco;
  margin: 20px 0;
}

@media(min-width: 200px) {
  form {
    width: 90%;
  }
}

@media(min-width: 800px) {
  form {
    width: 50%;
  }
}
