@import 'variables';
@import 'mixins';

.header-button {
  @include botao-base;
  color: black !important;
  background-color: $cor-header-claro !important;
  font-weight: 600 !important;
  display: flex;
  text-align: center;
  width: fit-content;

  &:hover {
    background-color: $cor-header-hover !important;
    color: $cor-branco !important;
  }
}

.navbar {
  transition: all 0.3s ease;
  background-color: $cor-header;
}

.ul-lst {
  gap: 10px;
}

.navbar-brand {
  span {
    transition: none;
    color: $cor-branco;

    &:hover {
      color: $cor-branco;
    }
  }
}

.navbar a {
  color: $cor-branco;
  transition: all 0.3s ease;
}

.navbar-ativa {
  background-color: #ffffff;
  transition: all 0.3s ease;

  li, a {
    color: #000000;
  }
}
