@mixin flexCenter($textdirection, $flexdirection) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: $textdirection;
    flex-direction: $flexdirection;
}

@mixin box-form {
  border-radius: 15px;
  background: $cor-fundo-form;
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
  box-shadow: $sombra-form;
  text-align: center;
}

@mixin placeholder-estilo {
  color: $cor-placeholder;
  font-weight: bolder;
  font-size: larger;
}

@mixin botao-base {
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

@mixin responsivo-form {
  @media(min-width: 200px) {
    width: 90%;
  }
  @media(min-width: 800px) {
    width: 50%;
  }
}
