// _variables.scss
$cor-destaque: rgba(168, 101, 0, 0.479);
$cor-texto-branco: white;
$cor-hover-link: rgba(122, 24, 24, 0.747);
$sombra-box: 0 4px 10px rgba(0, 0, 0, 0.2);

$cor-fundo-form: rgba(168, 101, 0, 0.479);
$cor-placeholder: rgba(255, 255, 255, 0.7);
$cor-link-bg: rgba(122, 24, 24, 0.747);
$cor-submit-bg: rgba(255, 255, 255, 0.3);
$cor-submit-hover: rgba(255, 255, 255, 0.5);
$cor-branco: white;
$cor-preto: #242424;
$sombra-form: 0 4px 10px rgba(0, 0, 0, 0.2);
$blur: blur(10px);

$cor-header: rgb(95, 13, 13);
$cor-header-claro: rgb(255, 189, 114);
$cor-header-hover: rgb(134, 79, 16);
$fonte-padrao: Arial, sans-serif;
$form-padding: 40px;
