body {
    background-color: #F2C48D !important;
    overflow-x: hidden;
}

/* ---- */
.hero-section {
    background: url('../imgs/dogoculosamarelo.png') no-repeat center/cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.servicos {
    height: 87dvh;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* ------ */
.presentation-col {
    width: 100%;
    position: relative;
    align-items: left;
    padding: clamp(6%, 4vw, 8%) 8%;
}

.presentation-col h1 {
    font-size: clamp(2.8rem, 4.5vw, 5rem);
    color: white;
    font-weight: 600;
}

.presentation-col h4 {
    color: white;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.container-servicos{
    height: auto;
}

.title {
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 600;
    font-size: clamp(2rem, 3.3vw, 3.5rem);
    color: rgb(117, 24, 24);
}
.row-servicos {
    width: 75%;
}

.row-servicos .col {
    justify-content: left !important;
}

.wrapper-img {
    display: flex;
}

.wrapper-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-conteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper-conteudo h4 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding-bottom: 20px;
    color: rgb(117, 24, 24);
}

.wrapper-conteudo h6 {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.btn-cta {
    font-size: clamp(1.3rem, 1.4vw, 3rem);
    text-decoration: none;
    color: black;
    padding: 1%;
    background-color: rgb(247, 162, 65) !important;
    border-radius: 18px;
}

@media (min-width: 200px) {
    .row-servicos {
        flex-direction: column;
        width: 100%;
    }

    .row-servicos .col {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .row-servicos {
        width: 85%;
    }
}

@media (min-width: 1180px) {
    .row-servicos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .row-servicos .col {
        width: 50%;
    }
}