.header-button {
    text-decoration: none;
    color: black !important;
    background-color: rgb(255, 189, 114) !important;
    border-radius: 18px;
    padding: 8px !important;
    font-weight: 600 !important;
    display: flex;
    text-align: center;
    width: fit-content;
}

.header-button:hover {
    background-color: rgb(134, 79, 16) !important;
    color: white !important;
}

.navbar {
    transition: all 0.3s ease;
    background-color: rgb(95, 13, 13);
}

.ul-lst{
    gap: 10px;
}

.navbar-brand span {
    transition: none;
    color: white;
}

.navbar-brand span:hover{
    transition: none;
    color: white;
}

.navbar a {
    color: white;
    transition: all 0.3s ease;
}

.navbar-ativa {
    background-color: #ffffff; 
    transition: all 0.3s ease;
}

.navbar-ativa li,
.navbar-ativa a {
    color: #000000; 
    transition: all 0.3s ease;
}
