* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    height: fit-content;
    width: 100%;
    background-color: rgba(61, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
}

header img {
    width: 60px;
    height: 80px;
    padding: 12px 0px;
}