html, body {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../imgs/dogoculosamarelo.png') no-repeat center center/cover;
    text-align: center;
}

form {
    width: 500px;
    padding: 40px 40px;
    border-radius: 15px;
    background: rgba(168, 101, 0, 0.479);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

form input::placeholder{
    color: white;
}

form p {
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
}

form a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background: rgba(122, 24, 24, 0.747);
    padding: 8px 15px;
    border-radius: 5px;
}

.whiteline {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 20px 0px;
}

form a:hover {
    text-decoration: underline;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

form input[type="submit"] {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.5);
}